<ion-view title="Home">
  <ion-content class="has-header padding">
    <h1>Home</h1>
    <h1>Favorite Stations:</h1>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="station in favoriteStations" type="item-text-wrap" href="#/tab/incident/{{station}}">
        {{station.Name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <h1>Alerts:</h1>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="incident in railIncidents" type="item-text-wrap" href="#/tab/incident/{{incident.IncidentID}}">
        {{incident.DateUpdated}} : {{ incident.Description }}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
